@keyframes main-is-waiting {
  0% {
    opacity: 0;
  }
  95% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes loading-go-out {
  0% {
    opacity: 50%;
    transform: scale(1);
  }
  85% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}
@keyframes loading-circle {
  0% {
    opacity: 0;
    transform: rotate(0turn);
  }
  25% {
    opacity: 1;
    transform: rotate(1turn);
  }
  50% {
    opacity: 0, 2;
    transform: rotate(1.5turn);
  }
  75% {
    opacity: 1;
    transform: rotate(3turn);
  }
  100% {
    opacity: 1;
  }
}
@keyframes loading-icones {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  57%, 100% {
    opacity: 1;
    color: #FF79DA;
    transform: scale(1);
  }
}
@keyframes button-meal-animation {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
.loading {
  width: 100%;
  position: absolute;
  padding-top: 150px;
  padding-bottom: 700px;
  animation-name: loading-go-out;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
.loading__circle-contenair {
  text-align: center;
  margin-bottom: 50px;
}
.loading__circle-contenair i {
  margin: auto;
  color: #FF79DA;
  width: 50px;
  height: 50px;
  font-size: 50px;
  animation-name: loading-circle;
  animation-duration: 3s;
}
.loading__icones {
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
}
.loading__icones i {
  width: 25px;
  height: 25px;
  font-size: 25px;
  margin-right: 10px;
  animation-fill-mode: backwards;
}

.loading__icones :nth-child(1) {
  animation-name: loading-icones;
  animation-duration: 3s;
  animation-delay: 0s;
}

.loading__icones :nth-child(2) {
  animation-name: loading-icones;
  animation-duration: 3s;
  animation-delay: 0.5s;
}

.loading__icones :nth-child(3) {
  animation-name: loading-icones;
  animation-duration: 3s;
  animation-delay: 1s;
}

.loading__icones :nth-child(4) {
  animation-name: loading-icones;
  animation-duration: 3s;
  animation-delay: 1.5s;
}

main {
  animation: main-is-waiting 3s;
}

body {
  position: relative;
  font-family: "Roboto", sans-serif;
  margin: 0px;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 1.5rem;
  font-weight: 800;
  margin: 10px 40px 20px 40px;
}

.h1__menu {
  font-family: "Shrikhand", sans-serif;
  margin: 30px 0px 0px 15px;
}

h2 {
  font-size: 1.5rem;
  font-weight: 800;
  margin: 30px 0px 20px 20px;
}
@media screen and (min-width: 599px) {
  h2 {
    margin-bottom: 50px;
    margin-left: 20px;
  }
}

h3 {
  font-size: 1.2rem;
}

.h3__presentation {
  margin-bottom: 30px;
  font-weight: 300;
}
.h3__btn {
  font-size: 1.1rem;
  margin: 0px;
  margin-left: 20px;
}
.h3__name-restaurant, .h3__title-meal {
  max-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 17px;
  font-weight: 900;
  margin-bottom: 8px;
  margin-left: 15px;
  margin-top: 10px;
}
.h3__locate-restaurant, .h3__informations-meal {
  max-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 17px;
  font-weight: 390;
  margin-top: 0px;
  margin-left: 15px;
  margin-bottom: 0px;
}
.h3__part-of-menu {
  font-size: 18px;
  color: gray;
  font-weight: 700;
  margin-left: 15px;
  text-transform: uppercase;
  margin-bottom: 5px;
  margin-top: 45px;
}
.h3__price-meal {
  margin-right: 20px;
  padding-top: 40px;
}

header {
  padding-top: 25px;
}
header img {
  display: block;
  margin: auto;
  width: 200px;
}

.header__menu {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}
.header__menu i {
  font-size: 25px;
  padding-left: 20px;
}

/*header accueil*/
form {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
  background-color: #e9e9e9;
  height: 50px;
  margin-top: 20px;
  padding-left: 8em;
  box-shadow: 0px 0px 7px gray;
}
form i {
  width: 15px;
  height: 15px;
  font-size: 15px;
}
form input {
  background-color: #eee7e7;
  border: none;
  margin-left: 15px;
  padding-top: 2px;
  color: #333232;
  font-size: 17px;
  font-weight: 500;
}

footer {
  background-color: #383838;
  padding: 20px;
}
footer img {
  height: 17px;
  width: 100px;
  margin-bottom: 15px;
}

.a__footer-with-logo {
  display: flex;
  color: white;
  align-items: baseline;
}
.a__footer-with-logo i {
  height: 15px;
  width: 15px;
  margin-right: 15px;
  margin-bottom: 8px;
}
.a__footer {
  display: block;
  color: white;
  margin-bottom: 8px;
}

.section-restaurants {
  background-color: #f6f6f6;
  padding-bottom: 70px;
}
@media screen and (min-width: 599px) {
  .section-restaurants__zone {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
.section-restaurants__card-restaurant {
  display: block;
  margin: 20px;
  border-radius: 15px;
  padding-bottom: 20px;
  margin-bottom: 0px;
  background-color: white;
}
@media screen and (min-width: 599px) {
  .section-restaurants__card-restaurant {
    flex-basis: 40%;
    max-width: 800px;
  }
}
.section-restaurants img {
  width: 100%;
  height: 200px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
}
@media screen and (min-width: 599px) {
  .section-restaurants img {
    flex-basis: 40%;
    max-width: 800px;
  }
}

.img__under, .card-menu__header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.img__under i, .card-menu__header i {
  width: 25px;
  height: 25px;
  font-size: 25px;
  font-weight: 200;
  color: gray;
  margin-right: 20px;
}
.img__under i:hover, .card-menu__header i:hover {
  font-weight: bold;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  background-clip: text;
  color: transparent;
}

.new {
  background-color: #8fe9d1;
  color: #009b75;
  font-size: 15px;
  font-weight: 500;
  padding: 7px 15px;
  position: absolute;
  bottom: 210px;
  left: 68%;
}

.section__presentation {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f6f6f6;
}
@media screen and (min-width: 599px) {
  .section__fonctionnement-area-button {
    display: flex;
    flex-wrap: wrap;
  }
}

.bubble {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #9356DC;
  color: white;
  font-weight: bolder;
  text-align: center;
  margin-left: -10px;
  margin-right: 20px;
  transition-property: all;
  transition-duration: 0.5s;
}
.bubble div {
  padding-top: 5px;
}
.bubble__order {
  opacity: 0;
  background-color: white;
  color: #99E2D0;
  font-weight: bolder;
  text-align: center;
  margin: 0px;
}
.bubble__order i {
  transition-property: all;
  transition-duration: 0.5s;
  opacity: 0;
  padding-top: 5px;
  font-weight: 900;
  transform: rotate(0.5turn);
}

.button__fonctionnement {
  display: flex;
  align-items: center;
  height: 80px;
  margin-right: 15px;
  margin-left: 25px;
  margin-bottom: 25px;
  border-radius: 20px;
  background-color: #f6f6f6;
  transition-property: all;
  transition-duration: 0.5s;
  box-shadow: 5px 5px 5px #c2bfbf;
}
.button__fonctionnement:hover {
  background-color: #f7e7ff;
  box-shadow: 8px 8px 8px #c2bfbf;
}
.button__fonctionnement:hover i {
  color: #a16be0;
}
.button__fonctionnement:hover .bubble {
  background-color: #a16be0;
}
.button__fonctionnement i {
  width: 20px;
  height: auto;
  color: #acacac;
  font-size: 1em;
  transition-property: all;
  transition-duration: 0.5s;
}
@media screen and (min-width: 599px) {
  .button__fonctionnement {
    flex-basis: 25%;
    max-width: 650px;
    min-width: 285px;
    padding-right: 20px;
  }
}

.button__meal {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  margin: 10px;
  animation-name: button-meal-animation;
  animation-duration: 1s;
}
.button__meal__text {
  display: flex;
  justify-content: space-between;
  height: 75px;
  width: 100%;
  padding-top: 7px;
  border-radius: 20px;
  background-color: white;
  overflow: hidden;
  text-overflow: ellipsis;
  box-shadow: 5px 5px 5px #c2bfbf;
  transition-property: all;
  transition-duration: 0.5s;
}
.button__meal__order {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  height: 82px;
  width: 0%;
  max-width: 100px;
  background-color: #99E2D0;
  transition-property: all;
  transition-duration: 0.5s;
  box-shadow: 5px 5px 5px #c2bfbf;
}
.button__meal:hover .button__meal__text {
  width: 80%;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.button__meal:hover .button__meal__order {
  width: 20%;
}
.button__meal:hover .bubble__order {
  opacity: 1;
}
.button__meal:hover .bubble__order i {
  transform: rotate(2turn);
  opacity: 1;
}

.first, .second, .third {
  animation-name: button-meal-animation;
  animation-duration: 0.5s;
  animation-fill-mode: backwards;
}

.second {
  animation-delay: 0.2s;
}

.third {
  animation-delay: 0.4s;
}

.button__presentation, .button__commander {
  display: inline-block;
  color: white;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  padding: 15px;
  border-radius: 30px;
  font-size: 1rem;
  box-shadow: 5px 5px 5px #c2bfbf;
}
.button__presentation:hover, .button__commander:hover {
  background: linear-gradient(to bottom right, #ff93e1, #a16be0);
  box-shadow: 8px 8px 8px #c2bfbf;
}

.button__commander {
  display: block;
  width: 160px;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 90px;
  text-align: center;
}

.underscore {
  width: 50px;
  height: 5px;
  border-top: solid 5px #99E2D0;
  margin-left: 15px;
  margin-bottom: 15px;
}

.menu {
  padding-top: 0em;
}
.menu img {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.card-menu {
  position: relative;
  z-index: 2;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  margin-top: -50px;
  background-color: #f6f6f6;
  width: 100%;
}
.card-menu__header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.card-menu__header i {
  width: 25px;
  height: 25px;
  font-size: 25px;
  color: gray;
  font-weight: 200;
  margin-right: 35px;
}

@media screen and (min-width: 599px) {
  .contenair-menu {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 599px) {
  .part-of-menu {
    flex-basis: 30%;
    min-width: 285px;
  }
}

/*# sourceMappingURL=style.css.map */
