footer{
    background-color: #383838;
    padding: 20px;
    img{
        height: 17px; 
        width: 100px;
        margin-bottom: 15px;
    }
}

.a{
    &__footer-with-logo{
        display: flex;
        color: white;
        align-items: baseline;
        i{
            height: 15px;
            width: 15px;
            margin-right: 15px;
            margin-bottom: 8px;
        }
    }
    &__footer{
        display:block;
        color: white;
        margin-bottom: 8px;
    }
}