.btn{
    display: flex;
    align-items: center;
    height: 80px;
    margin-right:15px;
    margin-left: 25px;
    margin-bottom: 25px;
    border-radius: 20px;
    background-color: $colour-fourth;
    img{
        width: 20px;
        height: auto;
    }
}
