.button__fonctionnement{
    display: flex;
    align-items: center;
    height: 80px;
    margin-right:15px;
    margin-left: 25px;
    margin-bottom: 25px;
    border-radius: 20px;
    background-color: $colour-fourth;
    @include transition-button;
    @include shadow-button;
    &:hover{
        background-color: $colour-fourth-light;
        @include shadow-button-hover ;
         i{
            color: $colour-primary-light;
        }
        .bubble{
            background-color: $colour-primary-light;
        }

    }

    i{
        width: 20px;
        height: auto;
        color: #acacac;
        font-size: 1em;
        @include transition-button;
    }
    @include desktop{
        flex-basis: 25%;
        max-width: 650px;
        min-width: 285px;
        padding-right: 20px;
    }
}

 .button__meal{

    display: flex;
    align-items: center;
    max-width: 400px;
    &:hover{
    .button__meal__text{
        width: 70%;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        }
    .button__meal__order{
        width: 20%;
    }
    .bubble__order{
        opacity: 1;
        i{
            transform: rotate(2turn);
            opacity: 1;
        }
    }
   
    }

    &__text{
    display: flex;
    justify-content: space-between;
    height: 75px;
    width: 90%;
    padding-top: 7px;
    border-radius: 20px;
    background-color: white;
    @include shadow-button;
    @include transition-button;
    }
    &__order{
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 82px;
    width: 0%;
    max-width: 100px;
    background-color: $colour-third;
    @include transition-button;
    @include shadow-button;
    }
}












.button{
    &__presentation, &__commander{
        display: inline-block;
        color:white;
        background-color: $colour-secondary ;     //$colour-gradient//
        padding: 15px;
        border-radius: 30px;
        font-size: 1rem;
        @include transition-button;
        @include shadow-button;
        &:hover{
            background-color: $colour-secondary-light;           //$colour-gradient-light//
            @include shadow-button-hover ;
        }
    }
}
.button{
    &__commander{
        display: block;
        width: 160px;
        margin: auto;
        margin-top: 60px;
        margin-bottom: 90px;
        text-align: center;
    }
}
