body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.h1 {
    &__acceuil{
        font-size: 1.4rem;
        font-weight: 800;
        margin: 20px;
        margin-top: 0px;
    }   
}

 .h2{  
     &__presentation{
         color:grey;
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 40px;
         }       
}   
a{
    text-decoration: none;
    color: black;
}
.a{
    &__presentation{
        display: inline-block;
        color:white;
        background: linear-gradient(to bottom right, $colour-secondary, $colour-primary);
        padding: 15px;
        border-radius: 30px;
        font-size: 1.2rem;
    }
}


