body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

a{
    text-decoration: none;
    color: black;
}

section{
    padding-top: 40px;
}

h1, h2{
        font-size: 1.5rem;
        font-weight: 800;
        margin:0px 40px 20px 40px;
    }   

h2{
    margin:0px 0px 20px 20px;
}

h3{ 
    font-size: 1.2rem;
}

.h3{ 
     &__presentation{
        margin-bottom: 30px;
        font-weight: 300;
         } 
    &__btn{
        font-size: 1.1rem;
        margin: 0px;
        margin-left: 20px;
    }  
    &__name-restaurant{
        font-size: 17px;
        font-weight: 900;
        margin-bottom: 8px;
        margin-left: 15px;
        margin-top: 10px;
    } 
    &__locate-restaurant{
        font-size: 17px;
        font-weight: 390;
        margin-top: 0px;
        margin-left: 15px;
        margin-bottom: 0px;
    }   
}   








