body {
    position: relative;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

a{
    text-decoration: none;
    color: black;
}

h1{
    font-size: 1.5rem;
    font-weight: 800;
    margin:10px 40px 20px 40px;
} 

.h1{
    &__menu{
    font-family: "Shrikhand", sans-serif;
    margin:30px 0px 0px 15px;
    }
}

h2{        
    font-size: 1.5rem;
    font-weight: 800;
    margin:40px 0px 30px 20px;
    @include desktop{
        margin-bottom: 50px;
        margin-left: 20px;
    }
}

.h2__part-of-menu{
    font-size: 18px;
    color: gray;
    font-weight: 700;
    margin-left: 15px;
    text-transform: uppercase;
    margin-bottom: 5px;
    margin-top: 45px;
}

h3{ 
    font-size: 1.2rem;
}

.h3{ 
     &__presentation{
        margin-bottom: 30px;
        font-weight: 300;
    } 
    &__btn{
        font-size: 1.1rem;
        margin: 0px;
        margin-left: 20px;
    }  
    &__name-restaurant, &__title-meal{
        max-height: 20px;
        font-size: 17px;
        font-weight: 900;
        margin-bottom: 8px;
        margin-left: 15px;
        margin-top: 10px;
    } 

}   

.h4 {
    &__locate-restaurant, &__informations-meal{
    max-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 17px;
    font-weight: 400;
    color: rgb(78, 76, 76);
    margin-top: 0px;
    margin-left: 15px;
    margin-bottom: 0px;
    }   
}

.price-meal{
    margin-right: 20px;
    padding-top: 40px;
}


