
.section{
    &__presentation{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color:$colour-fourth;
    }
    &__fonctionnement-area-button{
        @include desktop{
            display: flex;
            flex-wrap: wrap;
        }
    } 
}









