@mixin shadow-button {
    box-shadow: 5px 5px 5px rgb(194, 191, 191);
}

@mixin shadow-button-hover {
    box-shadow: 8px 8px 8px rgb(194, 191, 191);
}

@mixin desktop {
    @media screen and (min-width : map-get($breakpoints, desktop)) {
        @content;
    }   
}

@mixin transition-button {
    transition-property: all;
    transition-duration: 0.5s;
}

